.ad{:class => "c_" + ad.category_id }
  .row.ad-detail
    .span8
      %p
        %span.sep Posted on
        %a{:href => "#", :title => "8:12 pm"}
          = ad.created_at.strftime('%B %d, %Y')
      %p 
        = ad.description
      %h4 
        %i.icon-tag
        Price : 
        = ad.price
      %span
        %i.icon-filter
        %strong Category :
        %span.label.label-info
          = ad.category.name
      %br
      %span.address
        %i.icon-home
        = ad.address
    - ad.images.limit(2).each do |i|
      .span2
        %a{:href => i.image.url}
          %img.ad-image.img-polaroid{:src => i.image.url(:small)}/
  .row.contact
    .span12
      - if ad.user.phone_number
        %a.btn.disabled{:href => '#'}
          %i.icon-phone
          = ad.user.phone_number
      - if ad.user.email
        %a.btn.disabled{:href => '#'}
          %i.icon-envelope
          = ad.user.email
        %a.pull-right.btn{:href => "mailto:#{ad.user.email}"}
          %i.icon-envelope-alt
          Send Message
        - if current_user
          - unless current_user.interested?(ad)
            %a.pull-right.btn{:id => "i_#{ad.id}", :href => interested_ad_path(ad), :data => {:remote => true}}
              %i.icon-bookmark
              Interested
          - else
            %a.pull-right.btn.disabled{:href => '#'}
              %i.icon-bookmark
              Interested
        - else
          %a.pull-right.btn{:id => "i_#{ad.id}", :href => interested_ad_path(ad)}
            %i.icon-bookmark
            Interested

        %a.pull-right.btn.map-it{:href => '#', :rel => 'tooltip', :title => 'Map It', :data => {:id => ad.id}}
          %i.icon-map-marker

  %hr/
