%div{:class=>"modal hide fade", :id => "#{@ad.id}", :style => 'width:580px;'}
  .modal-header
    %a{:class=>"close", :href=>"javascript:void(0)"}×
    %h3 New Ad
  = form_for @ad, :remote => true, :html => { :multipart => true} do |f|
    .modal-body
      = f.text_area :description, :class => 'text_area input-xlarge', :rows => 3, :label => 'Description *', :required => :required
      = f.text_field :price, :class => 'text_field input-xlarge', :label => 'Price', :required => :required
      = f.fields_for :images do |images_form|    
        = images_form.file_field :image
      = f.text_field :tag_list, :label => 'Tags', :class => 'text_area input-xlarge'
      = f.text_field :address, :class => 'text_field input-xlarge', :label => 'Address'
      = hidden_field_tag 'locality',nil, :name => 'ad[locality]',:class => ''
      = hidden_field_tag 'country', nil, :name => 'ad[country]', :class => ''
      = hidden_field_tag 'lat', nil, :name => 'ad[lat]', :class => ''
      = hidden_field_tag 'lng', nil, :name => 'ad[lng]', :class => ''
      = f.select :category, Category.all.collect {|c| [c.name, c.id]},{:include_blank => true}, {:class => 'input-xlarge'}
      .address-picker-map-wrapper#ad_address_map_wrapper
        .address-picker-legend
        .address-picker-map#map
      .modal-footer
        = f.submit nil, :class => 'btn btn-primary'
        = link_to t('.cancel', :default => t("helpers.links.cancel")), ads_path, :class => 'btn'
