= form_for @ad do |f|
  %legend= legend
  = f.text_area :description, :rows => 3, :label => 'Description *'
  = f.text_field :price, :placeholder => '100.10'
  = f.select :category, Category.all.collect {|c| [c.name, c.id]}
  = f.text_field :tag_list, :label => 'Tags', :placeholder => 'tag1, tag2, tag3'
  = f.text_field :phone_number, :placeholder => '1 (971) 121-5123'
  = f.text_field :address, :label => 'Address', :placeholder => 'Street 1, XYZ'
  = f.hidden_field :locality
  = f.hidden_field :country
  = f.hidden_field :lat
  = f.hidden_field :lng
  = f.fields_for :images do |i|    
    .image-field
      = image_tag(i.object.image(:small), :class => 'form-image') unless i.object.image_file_name.nil?
      /
        %button.remove-image{:type =>"button", :data => {:dismiss => "alert"}} X
      = i.file_field :image
  .address-picker-map-wrapper#ad_address_map_wrapper
    .address-picker-legend
    .address-picker-map#map
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    %a{:href => '#', :class => 'btn cancel'} Cancel
