- if @ads.any?
  - @ads.each do |ad|
    .row.ad
      .span8
        %p
          %span.sep Posted on
          %a{:href => "#", :title => "8:12 pm"}
            = ad.created_at.strftime('%B %d, %Y')
        %p 
          = ad.description
        %p 
          %h4 
            %i.icon-filter
            Category :
            = ad.category.name
            %i.icon-tag
            Price : 
            = ad.price
        %span
          %b
            %i.icon-filter
            Category :
            = ad.category.name
          %br
        %span.address
          %i.icon-home
          = ad.address
      - ad.images.limit(2).each do |i|
        .span2
          %a{:href => i.image.url}
            %img.ad-image.img-polaroid{:src => i.image.url(:small)}/
      .row.contact
        .span6
          = link_to 'Edit', edit_ad_path(ad), :class => 'btn btn-primary'
          - unless ad.published
            = link_to 'Publish', publish_ad_path(ad), :method => :put, :class => 'btn btn-primary'
          = link_to 'Remove', ad_path(ad), :method => :delete, :class => 'btn btn-warning'
    %hr/
- else
  .alert.alert-info
    Ooops!!!Looks like you haven't post any ad. Please post and get best sale.
