- model_class = Ad.new.class
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:description)
      %th= model_class.human_attribute_name(:price)
      %th= model_class.human_attribute_name(:address)
      %th= model_class.human_attribute_name(:locality)
      %th= model_class.human_attribute_name(:country)
      %th= model_class.human_attribute_name(:lat)
      %th= model_class.human_attribute_name(:lng)
      %th= model_class.human_attribute_name(:category_id)
      %th= model_class.human_attribute_name(:user_id)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @ads.each do |ad|
      %tr
        %td= ad.description
        %td= ad.price
        %td= ad.address
        %td= ad.locality
        %td= ad.country
        %td= ad.lat
        %td= ad.lng
        %td= ad.category.name
        %td= ad.user_id
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_ad_path(ad), :class => 'btn btn-mini'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), ad_path(ad), :method => :delete, :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')), :class => 'btn btn-mini btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_ad_path, :class => 'btn btn-primary'
